<html>
    <head>
    </head>
    <body>
        <h1>Where should I vote?</h1>

        <form id='main'>
            <label for='homeinput'>Home address</label>
            <input type='text' id='homeinput' />

            <label for='uniinput'>uni address</label>
            <input type='text' id='uniinput' />
        </form>

        <div id='results'></div>

        <script type='text/javascript'>
            var home, uni
            function initMap() {
                var options = {
                    componentRestrictions: {country: "us"}
                };

                home = new google.maps.places.SearchBox(document.getElementById('homeinput'), options);
                uni = new google.maps.places.SearchBox(document.getElementById('uniinput'), options);

                google.maps.event.addListener(home, 'places_changed', handleChange);
                google.maps.event.addListener(uni, 'places_changed', handleChange);
            }

            function handleChange() {
                var home_place = home.getPlaces();
                var uni_place = uni.getPlaces();
                
                var results_el = document.getElementById("results");
                
                if (home_place && uni_place) {
                    var home_coords = home_place[0].geometry.location;
                    var uni_coords = uni_place[0].geometry.location;

                    results_el.innerHTML = 'loading...';
                    getPriorities(home_coords, uni_coords, function(response) {
                        var priorities = JSON.parse(response);
                        
                        results_el.innerHTML = renderResults(priorities);
                    });
                }
            }

            function getPriorities(home_c, uni_c, cb) {
                let home_coords = home_c.lat()+','+home_c.lng();
                let uni_coords = uni_c.lat()+','+uni_c.lng();
                var xmlHttp = new XMLHttpRequest();
                xmlHttp.onreadystatechange = function() { 
                    if (xmlHttp.readyState == 4 && xmlHttp.status == 200)
                        cb(xmlHttp.responseText);
                }
                xmlHttp.open("GET", '/priorities?home='+encodeURIComponent(home_coords)+'&uni='+encodeURIComponent(uni_coords), true);
                xmlHttp.send(null);
            }

            function renderResults(results) {
                var html = "<h2>Home</h2>";
                html += generateHtml(results.home);
                html += "<h2>Uni</h2>";
                html += generateHtml(results.uni);
                return html;
            }

            function generateHtml(result) {
                var html = '<strong>'+result.district_name.name+'</strong><br />';
                html += result.category + ' ' + result.priority;
                return html;
            }
        </script>
        <script src="https://maps.googleapis.com/maps/api/js?libraries=places&key=AIzaSyD9F6qk9NbkzES-gCLs0y1bIicsO3eI9bU&callback=initMap" async defer></script>
    </body>
</html>
