<html>
    <head>
        <link href="https://fonts.googleapis.com/css?family=Work+Sans:400,700" rel="stylesheet">
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
        <link rel="stylesheet" href="/static/style.css" >
        <link rel="icon" type="image/png" href="/static/group-7.png" />
        <script src="https://cdn.apple-mapkit.com/mk/5.x.x/mapkit.js"></script>
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <meta property="og:type" content="article">
        <meta property="og:title" content="Should I vote at school or back home?">
        <meta property="og:site_name" content="college.vote">
        <meta property="og:description" content="College students can decide to vote at school or in their hometown. Use this site to see which has more political impact.">
        <meta property="og:url" content="http://www.college.vote/">
        <meta property="og:image" content="http://www.college.vote/static/banner.png">
        <title>College.vote - Should I vote at school or back home?</title>
    </head>
    <body>
        <div class='container-fluid home-page' id=app>
            <div class='main-row row'>
                <div class='side-box col-sm-4'>
                    <h5>College<span class='blue'>.vote</span></h5>
                </div>
                <form id='main' class='col-sm-8'>
                    <div class='col-sm-8 offset-sm-2'>
                      <div id='home-page'>
                          <h1>Should I vote at school or back home?</h1>
                          <h2>College students can vote at school or in their hometown. Use this website to figure out where your vote has more impact. <span class='blue'>Enter your home and school address to find out</span></h2>
                          <div class='row address-input'>
                              <div class='col input-section'>
                                  <input placeholder='Enter your home address...' class='address-input-box' type='text' id='homeinput' />
                              </div>
                              <div class='w-100 d-md-none'></div>
                              <div class='col input-section'>
                                  <input placeholder='Enter your school address...' class='address-input-box' type='text' id='uniinput' />
                              </div>
                          </div>
                          <div class=row>
                              <div class=col>
                                <button type=button id='search-button' class='col btn btn-primary search-button'>SHOW ME WHERE TO VOTE</button>
                              </div>
                          </div>
                      </div>
                  
                      
                    </div>
                </form>

                <div id='results' class='col-sm-8'>
                    <div class='col-sm-8 offset-sm-2'>
                        <a href='#' id=go-back class='go-back'>&larr; Go Back</a>
                    </div>
                    <div class='result col-sm-8 offset-sm-2' id='vote-home'>
                        <h3 class='blue'>Vote at home!</h3>
                        <p>Your hometown congressional district is more competitive, so your vote has more impact there. They need you back home. Vote by mail!</p>
                        <div class='home-name district-box'>District Name</div>
                        <div style='margin-bottom: 5px'></div>
                        <h3 class=blue>Now let's make sure you vote</h3>
                        <ul class=cta>
                            <li><a href='https://turbovote.org/'>Register to Vote</a></li>
                            <li><a href='https://www.ballotready.org/'>Show me my ballot</a></li>
                            <li><a href='https://turbovote.org/'>Request mail in ballot</a></li>
                        </ul>
                    </div>

                    <div class='result col-sm-8 offset-sm-2' id='vote-school'>
                        <h3 class='blue'>Vote at school!</h3>
                        <p>Your school's congressional district is more competitive, so your vote has more impact there. Welcome to your new home. Register and vote at school!</p>
                        <div class='school-name district-box'>District Name</div>
                        <div style='margin-bottom: 5px'></div>
                        <h3 class=blue>Now let's make sure you vote</h3>
                        <ul class=cta>
                            <li><a href='https://turbovote.org/'>Register to Vote</a></li>
                            <li><a href='https://www.vote.org/polling-place-locator/'>Find my polling place</a></li>
                            <li><a href='https://www.ballotready.org/'>Show me my ballot</a></li>
                        </ul>
                    </div>

                    <div class='result col-sm-8 offset-sm-2' id='vote-tossup'>
                        <h3>Tied!</h3>
                        <p>We think both districts are similarly competitive, so pick one and vote!</p>
                        <div class='row'>
                            <div class=col>
                              <div class='home-name district-box tied'>District Name</div>
                            </div>
                            <div class=col>
                              <div class='school-name district-box tied'>District Name</div>
                            </div>
                        </div>
                        <div style='margin-bottom: 5px'></div>
                        <h3 class=blue>Now let's make sure you vote</h3>
                        <ul class=cta>
                            <li><a href='https://turbovote.org/'>Register to Vote</a></li>
                            <li><a href='https://www.vote.org/polling-place-locator/'>Find my polling place</a></li>
                            <li><a href='https://www.ballotready.org/'>Show me my ballot</a></li>
                            <li><a href='https://turbovote.org/'>Request mail in ballot</a></li>
                        </ul>

                    </div>

                </div>
            </div>
        </div>

        <script src="https://cdnjs.cloudflare.com/ajax/libs/underscore.js/1.9.1/underscore-min.js"></script>
        <script src="/static/script.js" ></script>
        <script src="https://maps.googleapis.com/maps/api/js?libraries=places&key=AIzaSyD9F6qk9NbkzES-gCLs0y1bIicsO3eI9bU&callback=initMap" ></script>
    </body>
</html>
